.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 2px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    box-sizing: border-box;
    padding: 28px 0 32px 27px;
    margin: 0;
    width: 100%;
  }
  .header__image {
    width: 126px;
    height: 24px;
  }
}
